---


---



<div class="bg-black text-center p-2">
    <a class="block text-sm" href="https://code-jump.com/name-change/">
        <span class="relative text-white after-element">サイト名称変更のお知らせ</span>
    </a>
</div>



<style>
.after-element::after {
    content: "";
    width: 6px;
    height: 6px;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    right: -15px;
}
</style>