---



---



<div id="mainvisual">
            
    <div class="info-area">
                          <p class="t1">【Codejump Pro】<span>お申込み受付中！</span></p>
    <p class="t2">3月26日(火) 〜 4月2日(火)</p>
    <p class="t3"><a href="https://code-jump.com/cp/">詳細はこちら</a></p>
  
                    </div>
  
<a class="mv-content cp-lp-top" href="https://code-jump.com/cp/">
<p class="name">Codejump Pro</p>

<div class="inner wrapper-800">
<div class="detail">
  <p class="mv-title">
    <span class="t1"><span class="yellow-box">実案件</span>をモデルにした<br class="sp">コーディング練習で、</span>
    コーディングのプロを目指す！
  </p>
  <div class="pc-only">
    <p class="detail-list-note">全て実案件をもとにしています！</p>
    <ul class="detail-list">
      <li>
        <p>単価</p>
        <img src="https://code-jump.com/wpcj/wp-content/themes/code-jump/img/cp/icon-en.svg" alt="">
      </li>
      <li>
        <p>納期</p>
        <img src="https://code-jump.com/wpcj/wp-content/themes/code-jump/img/cp/icon-calendar.svg" alt="">
      </li>
      <li>
        <p>デザイン</p>
        <img src="https://code-jump.com/wpcj/wp-content/themes/code-jump/img/cp/icon-design.svg" alt="">
      </li>
      <li>
        <p>仕様</p>
        <img src="https://code-jump.com/wpcj/wp-content/themes/code-jump/img/cp/icon-document.svg" alt="">
      </li>
    </ul>
  </div>
  <p class="btn">詳細を見る</p>
</div>
<div class="img">
  <img src="https://code-jump.com/wpcj/wp-content/themes/code-jump/img/cp/mv.jpg" alt="">
  <p class="img-note">※サンプルイメージです。</p>
</div>
</div>
</a>
</div>